name: Docker build and push go-ai-gen app

on:
  push:
    branches:
      - main
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build-api-service:
    needs: cleanup
    uses: dkr290/go-ai-gen/.github/workflows/docker-build-template.yml@main
    with:
      name: Build and push go-ai-gen image generator docker image
      docker_image_name: ghcr.io/${{ github.repository }}/go-ai-gen
      version: "2.8.29"
      folder: .
      dockerfileName: Dockerfile
  post-cleanup:
    needs: build-api-service
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Clean up disk space after build
        run: |
          docker system prune -a -f --volumes || true
          df -h
